$footer-color: rgb(77, 27, 163);

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: $footer-color;
  font-size: 0.7rem;
  color: #fff;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  padding: 0.2rem;
  p {
    margin: 0.4rem 0.6rem;
  }
}

.copyright {
  align-self: center;
  padding-right: 1rem;
}

@media (min-width: 320px) and (max-width: 660px) {
  .footer-container {
    font-size: 0.5rem;
  }
}
